@media only screen and (min-width: 768px){
	.btnFiltros{
		display: none;
	}
	.archive{
		background-position: 90% 60px;
		background-size: 300px;
	}
	.storefront-full-width-content{
		.woocommerce-products-header{
			h1{
				font-size: 34px;
			}
		}
	}
	
	.storefront-sorting{
		display: flex;
	    justify-content: space-between;
	    flex-direction: row-reverse;
	    width: 100%;
	    flex-wrap: wrap;
    	align-items: center;
    	margin-bottom: 0;

    	.woocommerce-ordering{
			float: right;
			width: 50%;
			text-align: right;
			margin: 0;
    		padding: 0;

		}

		.woocommerce-result-count{
			text-align: left;
			width: 50%;
		    margin: 0;
		    padding: 0;
		}

		.woocommerce-pagination{
			width: 100%;
    		padding: 20px;
		}
	}
	
	.site-content{
		
    	margin: 0 auto;
	}
	.right-sidebar .content-area{
		margin-right: 0;
	}
	
	.woocommerce-ordering .orderby{
		background-image: none;
	}

	ul.products{
		max-width: 1366px;
    	margin: 0 auto;
		li{
			a{
				img{
					-webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;

					-webkit-border-bottom-left-radius: 0;
					-moz-border-radius-bottomleft: 0;
					border-bottom-left-radius: 0;

					-webkit-border-bottom-right-radius: 0;
					-moz-border-radius-bottomright: 0;
					border-bottom-right-radius: 0;
				}
			}
		}
	}
	ul.products li.product:nth-child(odd){
		margin-right: 0px;
	}
	ul.products li.product:nth-child(even){
		margin-left: 0px;
	}
	.product_title{
		font-size: 38px;
    	text-align: left;
    	margin: 10px 0 0 0;
	}

	.widget-area{
		display: block;
		position: relative;
		background-color: transparent;
		.close{
			display: none;
		}
	}
	.single-product div.product {
		p.price{
			font-size: 20px;
			text-align: left;
			margin:10px 0 20px 0;
			span{
				font-family: 'Playfair Display SC', sans-serif!important;
			}
			
		}
		.woocommerce-product-details__short-description{
			text-align: left;
			padding: 0;
		}
		.single.fswp_installments_price .price.fswp_calc{
			text-align: left;
			font-size: 16px;
			color: $marrom;
		}

		.variations_button,
		form.cart{
			position: relative;
			margin-top: 50px;
			width: inherit;
			margin-bottom: 0px;
		}
		.variations_button{
			margin-top: 20px;
		}

		.button.alt{
			width: inherit;
			margin-bottom: 20px;
			padding: 0!important;
			font-size: 18px!important;
		}
		
		.quantity .qty{
			background-color: white;
			color: $marrom;
			border: 1px solid $verde_marca;
		}
		.related>h2:first-child{
			font-size: 38px;
		}
	}
	
}